@charset "utf-8";
/* CSS Document */


body{

  /*padding-top: 120px;*/
  padding-right: 20%;
  padding-bottom: 10px;
  padding-left: 20%;

	}
table{

	width:100%;
	border-collapse:collapse;
	border:1px solid silver;
	}


tr {

	width:100%;


}

td{

border:1px solid silver;
height:30px;


}

.ajustaraltura{
  height: 300px;
}

.oculto{
visibility: hidden;
}

.filaEmpresa{

	width:100%;
text-align: center;


	}
.devengo{
text-align: center;
vertical-align: text-top;


}

.retencion{
text-align: center;
vertical-align: bottom;



}


	.filasDatos{

		background-color:#E0D8D8;
text-align: center;



		}

      .centrados{

		  height:500px;
      margin-top: 20px;
      margin-bottom: 20px;
text-align: center;
vertical-align: text-top;

		  }

.especial p{
 float:right;
}
.vaaa{
text-align: center;
}
		.filasResultados{
text-align: center;
		background-color:#E0D8D8;


		}